{% extends 'base.html' %}
{% block title %}
    <title>Sesión Cerrada - MyTwitter</title>
{% endblock title %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="container p-4 text-center bg-light shadow rounded" style="max-width: 500px;">
            <h2 class="text-primary">¡Has cerrado sesión!</h2>
            <p class="text-muted">Gracias por usar MyTwitter. ¡Vuelve pronto! 😊</p>
            <a href="{% url 'login' %}" class="btn btn-primary mt-3">Iniciar Sesión</a>
        </div>
    </div>
{% endblock content %}
